# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key
STRIPE_SECRET_KEY=sk_test_your_key

# Resend (Email)
RESEND_API_KEY=re_your_key

# MongoDB Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/rdistro

# Admin - receives notification emails
ADMIN_EMAIL=rdistrozone@gmail.com

# Admin Dashboard Password
ADMIN_PASSWORD=your_secure_password
